# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.mypy_cache/
.pyre/
.dmypy.json
.pytype/
*.sqlite3
*.db
*.log
*.pot
*.mo
*.orig
*.bak
*.swp
*.swo
*.~ 
.env/
.venv/
venv/
ENV/
mapenv/
__pypackages__/
ipynb_checkpoints/
*.ipynb_checkpoints


# dependencies
/node_modules

# production build
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
bun.lockb

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# coverage reports
/coverage

# testing
/jest-test-results.json

# typescript
*.tsbuildinfo

# OS
Thumbs.db
ehthumbs.db

# Mac system files
.AppleDouble
.LSOverride

# react cache
.cache
.next